h1{
    color: rgb(156, 165, 165);
    text-align: center;
    font-size: 50px;
}  
form{
    width: 350px;
    padding: 10px;
    margin: 10px  auto;
}
div{
    padding: 40px;
    text-align: center;
    background-color: rgb(161, 204, 188);
}
label{
    font-size: 21px;
    display: inline-block;
    width: 150px;
}
input{
    padding: 5px;
    margin: 5px;
    background-color: rgb(174, 172, 196);
    font-size: 1em;
    text-align: center;
} 


input:hover{
    background-color: rgb(145, 142, 184) ;
}
input:focus{
    background-color: rgb(125, 122, 175) ;
    
}


.main:hover{
    background-color: rgb(110, 146, 146);

}






