*{
    margin: 0;
}
body{
    background-color: cadetblue;
}
header{
    width: 100%;
    display: flex;
    background-color: #192325;
    position: fixed;
}
nav{
    margin-top: 40px;
    display: flex;
}
li{  
    list-style: none;
    margin-left: 9px;
}
.li4{
    margin-right: 9px;
}
.a1{
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: sans-serif;
}
.a2{
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: sans-serif;
}
.a3{
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: sans-serif;
}
.a4{
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: sans-serif;
}
.a1:hover{
    font-size: 1.4em;
    color: #b6b727;
}
.a2:hover{
    font-size: 1.4em;
    color: #b6b727;
}
.a3:hover{
    font-size: 1.4em;
    color: #b6b727;
}
.a4:hover{
    font-size: 1.4em;
    color: #b6b727;
}
.div1{
    padding: 30px;
}

.div2{
    text-align: center;
    background-color: gray;
    padding: 50px;
}
.div3{
    width: 100%;
    background-color: #404f29;
    padding-top: 10px;
    padding-bottom: 5px;
}
.h1{
    font-size: 25px;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid#a98686 ;
}
.hello{
    font-size: 45px;
}
.img1{
    width: 100%;
    border-radius: 30px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    text-align: center;
    background-color: #434a3e;
    border-radius: 30px;
}
.div4{
    border-radius: 30px;
    flex: 5;
    /* width: 200px; */
    border: 2px solid skyblue;
}
.div5{
    border-radius: 30px;
    flex: 5;
    /* width: 150px; */
    margin-left: 10px;
    border: 2px solid skyblue;
}
.div6{
    border-radius: 30px;
    flex: 5;
    /* width: 200px; */
    margin-left: 10px;
    border: 2px solid skyblue;
}
.go{
    text-decoration: none;
    background-color: #1d8749;
    padding: 0 20px;
    border-radius: 5px ;
}
.go:hover{
    background-color: royalblue;
}
footer{
    margin-top: 20px;
    display: flex;
}
.h5{
    margin-top: 60px;
    font-size: 20px;
    font-family: sans-serif;
}
.div7{
    flex: 5;
    width: 300px;
    text-align: center;
    background-color: #76794d;
}
.form{
    margin: 20px;
}

.div8{
    flex: 5 ;
    text-align: center;
    background-color: #77795b;
}
.div9{
    flex: 3;
    text-align: center;
    background-color: #76794d;
}
.links{
    margin-top: 60px;
    font-size: 20px;
    font-family: sans-serif;
}
.a5{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;  
    margin: 20px;
    border: 2px solid   royalblue;
    border-radius: 30px;
    background-color: royalblue;
}
.a5:hover{
    background-color: salmon;
}
.about{
    margin-top: 60px;
    font-size: 20px;
    font-family: sans-serif;
}
.name{
    margin: 30px;
    font-size: 20px;
}
.p{
    font-size: 20px;
    margin: 10px;
}
.h4, .h, .h6{
    font-family: sans-serif;
    color: #728ad0;
}
