body{
    background-color: #163535;
    /* text-align: center; */
    background-image: url(page1.jpg) ;
    background-repeat: no-repeat;
}



section{
    width: 100%;
    /* background-color: snow; */
}

h1{
    color: rgb(0, 0, 0);
    margin-top: 5%;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
}
li{
    text-align: center;
    list-style: none;
}
a{
    background-color: aliceblue;
    font-family: sans-serif;
    border-radius: 20px;
    font-size: 30px;
    padding: 5px;
    text-decoration: none;
}

a:hover{
    color: royalblue;
    background-color: aqua;
}
    




   
